body{
    background-color: rgb(80, 80, 80);
    color: white;
}
#cislo{
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 25px;
}
#add{
    border-radius: 15px;
    align-content: center;
    position: relative;
    left: 840px;
    top: 100px;
    transition: transform 0.5s ease-in-out;
}
#add:hover{
    transform: scale(1.4);
}
#tatarka{
    text-align: center;
    top: -250px;
    position: relative;
    font-size: 25px;
}
#auto_tatarka{
    width: 400px;
    height: 150px;
    font-size: 30px;
    border-radius: 15px;
    position: absolute;
    left: 50px;
    top: 20px;
}
#tatarka_boost{
    width: 400px;
    height: 150px;
    font-size: 30px;
    border-radius: 15px;
    position: absolute;
    left: 50px;
    top: 200px;
}
#golden_tataka{
    width: 400px;
    height: 150px;
    font-size: 30px;
    border-radius: 15px;
    position: absolute;
    left: 50px;
    top: 400px;
}
#upgrades{
    background-color: black;
    width: 500px;
    height: 600px;
    position: relative;
    left: 100px;
    border-radius: 15px;
    top: -200px;
}
#reset{
    position: relative;
    top: 400px;
    left: 620px;
}

@media (max-width : 768px) {
    #add{
        position: relative;
        left: 60px;
        right: 0%;
    }
    #cislo{
        position: relative;
        left: 130px;
        top: 20px;
    }   
    #upgrades{
        position: relative;
        height: 600px;
        width: 350px;
        left: 5px;
        top: 200px;
    }
    #tatarka_boost{
        position: absolute;
        top: 220px;
        left: 25px;
        height: 100px;
        width: 300px;
    }
    #auto_tatarka{
        position: absolute;
        top: 50px;
        left: 25px;
        height: 100px;
        width: 300px;
    }
    #golden_tataka{
        position: absolute;
        top: 400px;
        left: 25px;
        width: 300px;
    }
    #reset{
        position: relative;
        left: 0px;
        top: 900px;
        width: 350px;
        border-radius: 15px;
        height: 50px;
    }
}
